<div class="container">
    <div class="row col-md-8 col-md-offset-2 col-sm-12">
        <h1>What's in a Lens?</h1>
        <p>
            At first glance, a lens can seem like a simple metal cylinder with 
            a piece of glass on the front and back. It's actually much more complex with 
            several pieces of glass, called 'elements', placed in a particular 
            order. Another essential component in a lens is the aperture. Modern 
            lenses offer many other characteristics such as coatings on the glass
            and stabilizers to keep a lens steady when you are holding it. 
        </p>
        <p>
            Aperture is controlled with a series of blades that open and close 
            inside the lens. When you look through the lens before taking the 
            shot, the blades are open, allowing your eye to see your subject. 
            When you press the shutter button to take a shot, the blades will
            close momentarily, depending on your aperture settings.
        </p>
        <div class="aperture_icons">
            <%= image_tag "f2_8.png" %>
            <%= image_tag "f4.png" %>
            <%= image_tag "f5_6.png" %>
            <%= image_tag "f8.png" %>
            <%= image_tag "f11.png" %>
        </div>
        <p>
            Aperture is one of the three biggest factors in controlling your 
            photo. A wider aperture will tend to create a more shallow depth of 
            field, or in other words, it will tend to make the background more 
            blurry.
        </p>
        <%= image_tag "shallow.jpg", style: "width: 100%;" %>
 
        <p>
            A more narrow aperture, will give more clarity throughout the whole
            image however, it won't allow light to pass through as quickly. This 
            may make it more difficult to get a propper exposure. Smaller apertures
            are often used when photographing landscapes. 
        </p>
        <%= image_tag "paddy_fields.jpg", style: "width: 100%;" %>
        <p>
            While there are many factors that contribute to the quality of a 
            lens, the aperture is often one of the most important 
            considerations. 
        </p>
        
    </div>
</div>