<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h3>Photo Notes</h3>
            <%= image_tag 'landscape_50mm.jpg', class: "main_image", id: "main_image" %>
            <br>
            <div id="photo_info">
                <p>Photo name: <span id="photo_name_text">Landscape</span></p>
                <p>Focal length: <span id="focal_length_text"> 50mm.</p>
                <p>Aperture: <span id="aperture_text">f/2.8</p>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="photo_option">
                <h3>Select a photo...</h3>
                <%= image_tag 'landscape_20mm.jpg', class: "thumb", id: "image_1", 
                  :onclick=>"setImageName(this, focal_length)" %>
                <%= image_tag 'flower_20mm.jpg', class: "thumb", id: "image_2", 
                  :onclick=>"setImageName(this, focal_length)" %>
                <%= image_tag 'portrait_20mm.jpg', class: "thumb", id: "image_3", 
                  :onclick=>"setImageName(this, focal_length)" %>
                <%= image_tag 'architecture_20mm.jpg', class: "thumb", id: "image_4", 
                  :onclick=>"setImageName(this, focal_length)" %>
            </div>
            <div class="lens_selection">
                <h3>Select a Lens...</h3>
                <div class="lens_selector", onclick="setFocalLength('_20mm.jpg', image_name)">
                    <%= image_tag 'lens.jpg' %>
                    <p class="lens_text">20mm</p>
                </div> 
                <div class="lens_selector", onclick="setFocalLength('_24mm.jpg', image_name)">
                    <%= image_tag 'lens.jpg' %>
                    <p class="lens_text">24mm</p>
                </div>
                <div class="lens_selector", onclick="setFocalLength('_28mm.jpg', image_name)">
                    <%= image_tag 'lens.jpg' %>
                    <p class="lens_text">28mm</p>
                </div>
                <div class="lens_selector", onclick="setFocalLength('_35mm.jpg', image_name)">
                    <%= image_tag 'lens.jpg' %>
                    <p class="lens_text">35mm</p>
                </div> 
                <div class="lens_selector", onclick="setFocalLength('_50mm.jpg', image_name)">
                    <%= image_tag 'lens.jpg' %>
                    <p class="lens_text">50mm</p>
                </div>
                <div class="lens_selector", onclick="setFocalLength('_85mm.jpg', image_name)">
                    <%= image_tag 'lens.jpg' %>
                    <p class="lens_text">85mm</p>
                </div>
            </div>
            <div class="aperture_selection" >
                <h3> Set Aperture.</h3>
                <%= image_tag "f2_8.png", class: "aperture_icon", style: 'height:auto;width:30%;' %>
                <%= image_tag "f4.png", class: "aperture_icon", style: 'height:auto;width:30%;' %>
                <%= image_tag "f5_6.png", class: "aperture_icon", style: 'height:auto;width:30%;' %>
                <%= image_tag "f8.png", class: "aperture_icon", style: 'height:auto;width:30%;' %>
                <%= image_tag "f11.png", class: "aperture_icon", style: 'height:auto;width:30%;' %>
            </div>
        </div>
    </div>
</div>


<script>
var image_name = 'assets/landscape';
var focal_length = '_50mm.jpg';

function setImageName(source, focal_length) {
    var main_image = document.getElementById("main_image");
    var photo_name_text = document.getElementById("photo_name_text");
    var new_image_name = source.getAttribute('src').split('_')[0];
    image_name = new_image_name;
    photo_name_text.innerHTML = new_image_name.split('/')[2];
    main_image.setAttribute("src", image_name + focal_length);
}

function setFocalLength(source, image_name) {
    var main_image = document.getElementById("main_image");
    var new_focal_length = source;
    focal_length = new_focal_length;
    focal_length_text.innerHTML = focal_length.substring(1,5);
    main_image.setAttribute("src", image_name + focal_length);
}

</script>
